.main-div{
  display: flex;
  justify-content: center;
}
.header-container{
  width: 80%;
  box-shadow: 7px 5px 30px rgb(255, 206, 198);
  margin-top: 10px;
}
.header-container input {
  height: 2rem;
  width: 20rem;
  margin-left: 10rem;
  margin-bottom: 2rem;
  font-size: medium;
}
.customBtn{
  height: 2.5rem;
  margin-left: 5px;
  border: 0;
  
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}
.addBtn{
  background-color: royalblue;
  color: white;
}
.removeBtn{
  background-color: tomato;
  color: white;
}
.removeBtn:hover{
  background-color: rgb(253, 138, 117);
}
.addBtn:hover{
  background-color: rgb(115, 150, 255);
}
.header-container h1{
  text-align: center;
}